<div>
  <br />
  <br />
  <p><button ng-click="loginWith('facebook')">Login with facebook</button></p>
  <p><button ng-click="loginWith('twitter')">Login with twitter</button></p>
  <p><button ng-click="loginWith('google')">Login with google</button></p>
  <br />
  <br />
  <div ng-if="$root.isState('login')">
    <form name="loginForm" novalidate>
      <legend>Login</legend>

      <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="you@domain.tld" ng-model="user.email" />
      </p>

      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" ng-model="user.password" />
      </p>

      <button ng-click="login()">Login</button>
    </form>
  </div>

  <div ng-if="$root.isState('register')">
    <form name="registerForm" novalidate>
      <legend>Register</legend>

      <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="you@domain.tld" ng-model="user.email" />
      </p>

      <p>
        <label for="name">Full name</label>
        <input type="text" name="name" id="name" placeholder="Full name" ng-model="user.profile.name" />
      </p>

      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" ng-model="user.password" />
      </p>

      <p>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" />
      </p>

      <button ng-click="register()">Register</button>
    </form>
  </div>
</div>
