<div>
  <br />
  <a ui-sref="messages">Messages</a>
  <a ui-sref="login" ng-if="!$root.isUserLoggedin()">Login</a>
  <a ui-sref="register" ng-if="!$root.isUserLoggedin()">Register</a>
  <a href ng-click="$root.logout()" ng-if="$root.isUserLoggedin()">Logout</a>
  <p ui-sref="login" ng-if="$root.isUserLoggedin()">Current user : {{$root.userDetails().emails[0].address}}</p>
  <br />
  <br />
  <b>Sample chat app</b>
  <br />
  <br />
  <input name="name" id="name" placeholder="Name" ng-model="message.name" />
  <input name="message" id="message" placeholder="Message" ng-model="message.message" />
  <button name="button" ng-click="sendMessage()">Send</button>
  <button name="button" ng-click="clear()">{{message._id ? 'Cancel' : 'Clear'}}</button>
  <br />
  <br />
  <b>Messages</b> <button ng-click="removeAllMessages()" ng-if="messages[1]">Delete All</button>
  <br />
  <br />
  <div ng-repeat="message in messages">
    Name : {{message.name}}
    <br />
    Message : {{message.message}}
    <br />
    <button ng-click="editMessage(message)" ng-if="$root.isUserLoggedin() === message.owner">Edit</button>
    <button ng-click="removeMessage(message)" ng-if="$root.isUserLoggedin() === message.owner">Delete</button>
    <br />
    <br />
  </div>
</div>
