<md-content layout="column" layout-padding>
    <form name="messageForm" novalidate>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-input-container layout="row" flex>
                <label>Message</label>
                <input type="text" name="message" id="message" ng-required="message.userId" ng-model="message.message" />
                <div ng-messages="messageForm.message.$error" ng-if>
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="sendMessage()">Send</md-button>
            <md-button class="md-raised" ng-click="clear()">{{message._id ? 'Cancel' : 'Clear'}}</md-button>
        </section>
    </form>

    <md-list>
        <md-subheader>
            Messages
            <md-button class="md-primary" ng-click="removeAllMessages()" ng-if="messages[1]">Delete All</md-button>
        </md-subheader>
        <md-list-item class="md-2-line" ng-repeat="Message in messages">
            <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
            <div class="md-list-item-text" layout="column" flex>
                <h3>{{getUser(Message.userId).profile.name}}</h3>
                <p>{{Message.message}}</p>
            </div>
            <!-- <md-button class="md-primary" ng-click="editMessage(Message)" ng-if="$root.currentUser._id === Message.userId">Edit</md-button> -->
            <md-button class="md-secondary" ng-click="removeMessage(Message)" ng-if="$root.currentUser._id === Message.userId">Delete</md-button>
        </md-list-item>
    </md-list>
</md-content>
