<div>
  <br />
  <a ui-sref="home">Home</a>
  <a ui-sref="login" ng-if="!$root.isUserLoggedin()">Login</a>
  <a ui-sref="register" ng-if="!$root.isUserLoggedin()">Register</a>
  <a href ng-click="$root.logout()" ng-if="$root.isUserLoggedin()">Logout</a>
  <p ui-sref="login" ng-if="$root.isUserLoggedin()">Current user : {{$root.userDetails().emails[0].address}}</p>
  <br />
  <br />
  <b>Messages</b>
  <br />
  <br />
  <div ng-repeat="message in messages">
    Name : {{message.name}}
    <br />
    Message : {{message.message}}
    <br />
    <br />
  </div>
</div>
